<h2>Login</h2>
<div class="row">
  <div class="col-md-8">
    <section id="loginForm1">
      <form [formGroup]="loginForm">
        <h4>Use a local account to log in.</h4>      

        <div class="form-group">
          <div class="col-md-2 control-label">
            <label for="email">Email</label>
          </div>
          <div class="col-md-6">
            <input type="text" formControlName="email" class="form-control"  />
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-2 control-label">
            <label for="password" class="col-md-2 control-label">Password</label>
          </div>
         
          <div class="col-md-8">
            <input type="password" formControlName="password" class="form-control" />
          </div>
        </div>
       
        <!--<div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Log in" class="btn btn-default" />
          </div>
        </div>
        <p>
          <a>Register as a new user</a>
        </p>

        <p>
          <a>Forgot your password?</a>
        </p>-->
      </form>
    </section>
  </div>

</div>

