
<div class="container">
  <div class="d-flex flex-row mt-5 pb-5 mb-5  border bg-dark text-white">
    <h1 class="ml-3 mt-3">
      Northwind shopping cart
   
    </h1>
    <div class="d-flex flex-column mt-5  left-button">
      <button class="btn  btn-info" (click)="saveCart()">Save Cart</button>
    </div>
  </div>
    <div class="d-flex flex-row">
      <table class="table table-bordered">
        <!-- header -->
        <tr class="well">
          <td><b>Item</b></td>
          <td><b>Quantity</b></td>
          <td><b>Price</b></td>
          
        </tr>
        <!-- empty cart message -->
        <tr >
          <td class="text-center" colspan="4">
            Your cart is empty.
          </td>
        </tr>
        <!-- cart items -->
        <tr >
          <td>item.name</td>
          <td class="tdCenter">
            <div class="input-append">
              <!-- use type=tel instead of to prevent spinners -->
              <input class="col-xs-offset-3 text-center" type="tel" />
              <button class="btn btn-success" type="button">
                +
              </button>
              <button class="btn btn-danger" type="button" >
                -
              </button>

            </div>
          </td>
          <td class="tdRight"></td>
          <td class="tdCenter" title="remove from cart">
            <a href="" >
              <i class="icon-remove">Remove</i>

            </a>

          </td>

        </tr>
        <!-- footer -->
        <tr class="well">
          <td><b>Total</b></td>
          <td class="tdCenter"><b></b></td>
          <td class="tdRight"><b></b></td>
      

        </tr>
      </table>

    </div>
    <!--<div ng-show="isUserLogin">
      <button class="btn btn-danger  col-xs-offset-10 col-md-offset-10" onclick="document.location.href = '@Url.Action(" Index", "Orders" )' " ng-disabled="cart.items.length <= 0">Checkout</button>

    </div>
    <div ng-view></div>-->

 </div>
